@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{font-family: 'Poppins', sans-serif;
text-decoration: none;
list-style: none;}

body{
   
    height: 100%;
    margin: 10px 80px;
    background-color: #2F3038; 
}

.navibar{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50xp;
    justify-content: space-between;    
}
.navibar h1{
    display: flex;
    flex-wrap: wrap;
    color: rgb(248, 246, 246);  
    margin-left: -35em; 
}
.navibar .link{  
    display: flex; 
    justify-content: space-between;
}
.navibar .link a{
    width: 100%;
    margin: 28px; 
    color: white;   
}   

.bloc{
    display: flex;
    justify-content: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    
}
.bloc .content .left p{
    color: white;
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;

}
.bloc .content .left img{
    padding: 5px;
    background-color: #2b2c2c;  
    margin: 10px;

}

.bloc .content .right{
    width: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: left;
    
}

.footer {
    display: flex;
    justify-content: end;
    background: #d92475;
    border: 1px solid red;
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 10%;  
}
